<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="../js/jquery.cookie.js"></script>
    <script type="text/javascript" src="../js/core.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
</head>
<body>
<dl class="act">
    <dd><a href="javascript:void(0);" class="ico-edit"><i></i>编辑</a></dd>
    <dd><a href="javascript:void(0);" class="ico-copy"><i></i>复制</a></dd>
    <dd><a href="javascript:void(0);" class="ico-select"><i></i>预览</a></dd>
    <dd><a href="javascript:void(0);" class="ico-del"><i></i>删除</a></dd>
    <dd><a href="javascript:void(0);" class="ico-export"><i></i>行程</a></dd>
    <dd><a href="javascript:void(0)" class="ico-cancel" ><i></i>原因</a> </dd>
</dl>

<div class="form">
    <input type="button" value="搜索" class="submitmini searchb">
    <input type="reset" value="重置" class="subgraymini res">
    <a class="subgreen" href="seller.line.add.html" title="">发布线路</a>
    <a href="javascript:void(0)" class="subredmini" style="position: relative;" title="">截止</a>
    <input type="button" value="删除" class="suborange evtAllSelected" data-opid="1">
    <input type="button" value="正常" class="subgray evtAllSelected" data-opid="2">
</div>
</body>
</html>

