<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="../js/jquery.cookie.js"></script>
    <script type="text/javascript" src="../js/core.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
</head>
<body>
<div class="toptag">
    <article><b>武汉</b>
        <a href="javascript:void(0);" style="" data-zid="362" title="">恩施专线</a>
        <a href="javascript:void(0);" style="" data-zid="361" title="">宜昌专线</a>
        <a href="javascript:void(0);" style="" data-zid="360" title="">北京专线</a>
        <a href="javascript:void(0);" style="" data-zid="347" title="">翔龙万里行！</a>
        <a href="javascript:void(0);" style="" data-zid="345">福建专线</a>
    </article>
    <article><b>南京</b>
        <a href="javascript:void(0);" style="" data-zid="381" title="">云南专线</a>
        <a href="javascript:void(0);" style="" data-zid="582" title="">美洲专线</a>
        <a href="javascript:void(0);" style="" data-zid="395" title="">黄山专线</a>
    </article>
    <article><b>杭州</b>
        <a href="javascript:void(0);" style="" data-zid="139" title="">海南专线</a>
        <a href="javascript:void(0);" style="" data-zid="141" title="">云南专线</a>
        <a href="javascript:void(0);" style="" data-zid="165" title="">千岛湖线</a>
        <a href="javascript:void(0);" style="" data-zid="201" title="">港澳专线</a>
    </article>
    <article><b>大同</b>
        <a href="javascript:void(0);" style="" data-zid="2472" title="">三亚自由行</a>
    </article>
</div>
</body>
</html>