
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="../js/jquery.cookie.js"></script>
    <script type="text/javascript" src="../js/core.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
<title></title>
</head>
<body>
<!--
1. 当前页面展开
2. Cookie记录展开
showMenu:"1_1,2_1"
addOnMenu：
deleteOnMenu：
renderMenu:
-->

<div id="leftMenu">
    <dl>
        <dt>网站管理</dt>
        <dd><a id="menu-18" title="系统公告" href="left.html">系统公告</a></dd>
        <dd style="border-bottom-style: none;"><a id="menu-19" title="旅游资讯" href="javascript:void(0);">旅游资讯</a></dd>
    </dl>
    <dl>
        <dt>积分管理</dt>
        <dd><a id="menu-26" title="图片目录" href="javascript:void(0);">图片目录</a></dd>
        <dd><a id="menu-27" title="上传图片" href="javascript:void(0);">上传图片</a></dd>
        <dd><a id="menu-28" title="图片查询" href="javascript:void(0);">图片查询</a></dd>
        <dd><a id="menu-29" title="商品类别" href="javascript:void(0);">商品类别</a></dd>
        <dd><a id="menu-30" title="商品管理" href="javascript:void(0);">商品管理</a></dd>
        <dd><a id="menu-31" title="商品查询" href="">商品查询</a></dd>
        <dd><a id="menu-32" title="兑换订单" href="">兑换订单</a></dd>
        <dd><a id="menu-33" title="积分查询（客）" href="">积分查询（客）</a></dd>
        <dd><a id="menu-34" title="积分查询（供）" href="">积分查询（供）</a></dd>
        <dd style="border-bottom-style: none;"><a id="menu-35" title="供应商交款" href="">供应商交款</a></dd>
    </dl>
</div>
<script type="text/javascript">

MYAPP.leftMenu = {
    showList:[],

    /**
     * 初始化菜单
     */
    init:function(){
        if(($.cookie("leftMenu") != undefined) && $.cookie("leftMenu") != "") {
            this.showList = $.cookie("leftMenu").split(",");
        }
        this._setCurPageMenu();
        this._render();
    },

    /**
     * 设置菜单
     * @param obj
     */
    setMenu:function(obj){
        var tagType = obj.tagName;
        var showList = this._getSelectIndex(obj);
        if(tagType == "DD") {
            this._removeSiblingsMenu(showList);
            this.showList.push(showList.join("_"));
        } else {
            var isFind = this._removeSiblingsMenu(showList);
            if(!isFind) {
                this.showList.push(showList.join("_"));
            }
        }

        $.cookie("leftMenu", this.showList);
        this._render();
    },

    /**
     * 删除同级选中
     * @param showList
     * @returns {boolean}
     * @private
     */
    _removeSiblingsMenu:function(showList){
        var isFind = false;
        this.showList = this._arrayUnique(this.showList);
        for(var i in this.showList) {
            var showArr = this.showList[i].split("_");
            if(showList[0] == showArr[0]) {
                isFind = true;
                this.showList.splice(i, 1);
            }
        }

        return isFind;
    },

    /**
     * 去除数组重复数据
     * @param data
     * @returns {Array}
     * @private
     */
    _arrayUnique:function(data){
        var tmp = [];
        for(var len=data.length, i=0; i<len; i++) {
            tmp[data[i]] = "";
        }
        data = [];
        for(var k in tmp) {
            data.push(k);
        }

        return data;
    },

    /**
     * 获取当前选中的索引数组
     * @param obj
     * @returns {*[]}
     * @private
     */
    _getSelectIndex:function(obj){
        var tagType = obj.tagName;
        var selectIndex = [$(obj).parent().index()];
        if(tagType == "DD") {
            selectIndex.push($(obj).index());
        }
        return selectIndex;
    },

    /**
     * 设置当前页面选中菜单
     * @private
     */
    _setCurPageMenu:function() {

        var linkList = [];
        var thisObj = this;
        var pageUrl = window.location.href;
        $("#leftMenu a").each(function(i){
            linkList[i] = {"href":$(this).attr("href"), "id":thisObj._getSelectIndex($(this).parent()[0])};
            if(pageUrl.indexOf(linkList[i].href) != -1 && linkList[i].href != "") {
                console.log(linkList[i].id);
                thisObj._removeSiblingsMenu(linkList[i].id);
                thisObj.showList.push(linkList[i].id.join("_"));
            }
        });
    },

    /**
     * 根据菜单配置，渲染显示效果
     * @private
     */
    _render:function(){
        $("#leftMenu dl").find("dd").hide();
        for(var len=this.showList.length, i=0; i<len; i++ ) {
            var showList = this.showList[i].split("_");
            if(typeof showList[0] != "undefined") {
                $("#leftMenu dl").eq(showList[0]).find("dt").addClass("cur");
                $("#leftMenu dl").eq(showList[0]).find("dd").show();
            }
            if(typeof showList[1] != "undefined") {
                $("#leftMenu dl").eq(showList[0]).find("dd").eq(parseInt(showList[1])-1).addClass("cur");
            }
        }
    }
};

var leftMenuObj = MYAPP.leftMenu;
leftMenuObj.init();
console.log(leftMenuObj.showList);
$("#leftMenu dt, #leftMenu dd").click(function(event){
    leftMenuObj.setMenu(this);
});
</script>
<br style="clear: both;">
<br /><br /><br /><br /><br /><br /><br /><br />
<div id="updateLog">
<h2>更新日志：</h2>
<h3>2014.09.24</h3>
<p>1. 控件初始化js报错，split属性函数不存在。</p>
<p>2. 加入多组选择</p>
<p>3. 加入当前页默认选中</p>
</div>
<style type="text/css">
#updateLog h2{margin: 8px 8px 8px 0;}
#updateLog h3{margin: 8px 8px 8px 16px;}
#updateLog p{margin:8px 8px 8px 24px;}
</style>
</body>
</html>