<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="../js/jquery.cookie.js"></script>
    <script type="text/javascript" src="../js/core.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
</head>
<body>
<div class="linesc">
    <dl>
        <dt>类型：</dt>
        <dd><a href="javascript:void(0)" data-c="-1">不限</a> <a href="javascript:void(0)" data-c="1" class="cur">组团社预订</a> <a href="javascript:void(0)" data-c="0" title="">帮忙预留 </a></dd>
        <div class="c"></div>
    </dl>
    <dl>
        <dt>模式：</dt>
        <dd> <a href="javascript:void(0)" data-h="-1" class="cur">不限</a> <a href="javascript:void(0)" data-h="0">已读</a> <a href="javascript:void(0)" data-h="1">未读</a> </dd>
        <div class="c"></div>
    </dl>
    <dl class="last">
        <dt>状态：</dt>
        <dd> <a href="javascript:void(0)" data-st="-1" class="cur">不限</a> <a href="javascript:void(0)" data-st="0">未确认</a> <a href="javascript:void(0)" data-st="1">已确认</a> <a href="javascript:void(0)" data-st="3" title="">名单不全</a> <a href="javascript:void(0)" data-st="4">已出票</a> <a href="javascript:void(0)" data-st="2">取消</a> </dd>
        <div class="c"></div>
    </dl>
</div>
</body>
</html>