<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="../js/jquery.cookie.js"></script>
    <script type="text/javascript" src="../js/core.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
</head>
<body>
<ul class="listT-tab">
    <li class="cur" data-city="-1">全部</li>
    <li data-city="北京">北京出港</li>
    <li data-city="澳门">澳门出港</li>
    <li data-city="大同">大同出港</li>
    <li data-city="长治">长治出港</li>
</ul>
</body>
</html>