<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
</head>
<body>
<table width="100%" cellpadding="0" cellspacing="0" border="0" class="base-table">
    <thead>
        <tr>
            <th>序号</th>
            <th>区域</th>
            <th>名称</th>
            <th>选择</th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>上海 - 嘉定区</td>
        <td>上海驴妈妈兴旅国际旅行社</td>
        <td>
            <input type="checkbox" name="new[]" value="72600">
        </td>
    </tr>
    <tr>
        <td>1</td>
        <td>上海 - 嘉定区</td>
        <td>上海驴妈妈兴旅国际旅行社</td>
        <td>
            <input type="checkbox" name="new[]" value="72600">
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>